body {
  background: linear-gradient(to right, #fff, #bfbfbf);
  position: relative;
}

/* Navbar ==================================== */

.nav-link {
  text-align: center;
  background: #fff;
}

@keyframes nav-enter {
  from {
    font-size: 1em;
  }
  to {
    font-size: 1.3em;
    font-weight: bold;
  }
}

@keyframes nav-leave {
  from {
    font-size: 1.3em;
    font-weight: bold;
  }
  to {
    font-size: 1em;
  }
}

.link-enter {
  animation-name: nav-enter;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.link-leave {
  animation-name: nav-leave;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.active {
  text-decoration: underline;
}

/* Title ==================================== */

#title {
  background: linear-gradient(to right, #b30000, #bfbfbf);
  margin-top: 10rem !important;
}

.home-text-title {
  color: #fff;
  text-shadow: 2px 2px #262626;
}

.home-text {
  color: #fff;
  text-shadow: 2px 2px #262626;
  margin-bottom: 1.2rem;
}

/* Skills ==================================== */

.list-group-item:hover {
  animation-name: hover-scale;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes hover-scale {
  from {
    transform: scale(1.01);
  }
  to {
    transform: scale(1.05);
  }
}

#skills {
  background: linear-gradient(to top, #fff, #bfbfbf);
  color: #262626;
}

#skills li {
  background: linear-gradient(to top right, #262626, #404040);
}

#p-skills {
  line-height: 1.7em;
  font-size: 1.5em;
  color: #595959;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(36000deg);
  }
}

@keyframes stop-spin {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.spin-class {
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 100s;
}

.stop-spin-class {
  animation-name: stop-spin;
  animation-duration: 0.5s;
}

/* Languages ==================================== */

#languages {
  background-color: #262626;
  color: #fff;
}

#languages li {
  color: #595959;
  background: linear-gradient(to bottom right, #fff, #d9d9d9);
}

#p-languages {
  line-height: 1.7em;
  font-size: 1.5em;
  margin: 0;
}

@keyframes shake {
  50% {
    transform: translate(30px);
  }
  75% {
    transform: translate(-30px);
  }
  100% {
    transform: translate(0px);
  }
}

.shake-class {
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* Projects ==================================== */

#projects {
  background-color: #b30000;
  color: #fff;
}

#projects a {
  color: #b30000;
  text-decoration: none;
}

.proj-wrapper {
  padding-top: 3em;
  padding-bottom: 3em;
}

.proj-section-title {
  padding-top: 48px;
}

.proj-p {
  line-height: 1.7em;
  font-size: 1.2em;
}

@keyframes rotate-world {
  to {
    transform: rotateY(36000deg);
  }
}

.rotate-class {
  animation-name: rotate-world;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

#p-projects {
  line-height: 1.7em;
  font-size: 1.5em;
}

#tranquility-lane-pic {
  max-width: 500px;
}

#yoyo-kingdom-pic {
  max-height: 500px;
}

.proj-pic {
  margin: auto;
  border-radius: 15px;
}

.proj-pic-left {
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
}

.left-lower {
  animation-name: drop-left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.left-raise {
  animation-name: raise-left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.proj-pic-right {
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.3);
}

.right-lower {
  animation-name: drop-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.right-raise {
  animation-name: raise-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes drop-left {
  from {
    transform: rotateZ(0deg);
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
  }
  to {
    transform: rotateZ(10deg);
    box-shadow: 0 0 0;
  }
}

@keyframes raise-left {
  from {
    transform: rotateZ(10deg);
    box-shadow: 0 0 0;
  }
  to {
    transform: rotateZ(0deg);
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
  }
}

@keyframes drop-right {
  from {
    transform: rotateZ(0deg);
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.3);
  }
  to {
    transform: rotateZ(-10deg);
    box-shadow: 0px 0px 0px;
  }
}

@keyframes raise-right {
  from {
    transform: rotateZ(-10deg);
    box-shadow: 0px 0px 0px;
  }
  to {
    transform: rotateZ(0deg);
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.3);
  }
}

.t-lane-tooltip {
  position: relative;
  display: inline-block;
}

.t-lane-tooltip .t-lane-tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #262626;
  color: #fff;
  text-align: center;
  padding: 10px;
  border: 10px solid #fff;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  bottom: -55%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.t-lane-tooltip .t-lane-tooltip-text::after {
  content: "";
  position: absolute;
  top: -135%;
  left: 70%;
  margin-left: -15px;
  border-width: 25px;
  border-style: solid;
  border-color: transparent #fff #fff transparent;
}

.t-lane-tooltip:hover .t-lane-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.yoyo-king-tooltip {
  position: relative;
  display: inline-block;
}

.yoyo-king-tooltip .yoyo-king-tooltip-text {
  visibility: hidden;
  width: 250px;
  background-color: #262626;
  color: #fff;
  text-align: center;
  padding: 10px;
  border: 10px solid #fff;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  bottom: 2%;
  right: 160%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.yoyo-king-tooltip .yoyo-king-tooltip-text::after {
  content: "";
  position: absolute;
  top: 2%;
  left: 110%;
  margin-left: -15px;
  border-width: 20px;
  border-style: solid;
  border-color: #fff transparent transparent #fff;
}

.yoyo-king-tooltip:hover .yoyo-king-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.coming-soon-left {
  width: 500px;
  height: 300px;
  background-color: black;
  font-size: 4em;
}

.coming-soon-left-tooltip {
  position: relative;
  display: inline-block;
}

.coming-soon-left-tooltip .coming-soon-left-tooltip-text {
  visibility: hidden;
  width: 250px;
  background-color: #262626;
  color: #fff;
  text-align: center;
  padding: 10px;
  border: 10px solid #fff;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 320%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.coming-soon-left-tooltip .coming-soon-left-tooltip-text::after {
  content: "";
  position: absolute;
  top: 2%;
  right: 103%;
  margin-left: -15px;
  border-width: 20px;
  border-style: solid;
  border-color: #fff #fff transparent transparent;
}

.coming-soon-left-tooltip:hover .coming-soon-left-tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Contributions ==================================== */

#contributions {
  background-color: #fff;
  color: #595959;
}

#contributions li {
  background: linear-gradient(to bottom left, #595959, #404040);
}

/* Contact ==================================== */

@keyframes roll {
  25% {
    transform: translate(-40px) rotate(-180deg)
  }
  50% {
    transform: translate(40px) rotate(180deg);
  }
  75% {
    transform: translate(40px) rotate(180deg);
  }
  100% {
    transform: translate(0px) rotate(0deg);
  }
}

.roll-class {
  animation-name: roll;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

#about-title {
  color: #595959;
}

#p-about {
  line-height: 1.7em;
  font-size: 1.3em;
  color: #595959;
}

#contact-title {
  color: #595959;
}

.contact {
  line-height: 1.7em;
  font-size: 1.5em;
  color: #595959;
  padding-top: 1em;
}

.contact-link:hover {
  animation-name: contact-hover-scale;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes contact-hover-scale {
  from {
    transform: scale(1.01);
  }
  to {
    transform: scale(1.15);
  }
}

/* Animations ==================================== */

@keyframes jump-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.1);
  }
}

.jump-out {
  animation-name: jump-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes jump-in {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.jump-in {
  animation-name: jump-in;
  animation-duration: 0.5s;
}

/* Email Modal ==================================== */

.modal-header {
  background: #b30000;
  color: #fff;
}

.modal-body {
  background: #d9d9d9;
}

.modal-footer {
  background: #262626;
}

/* Responsiveness ==================================== */

@media (max-width: 1200px) {

  .proj-p-right {
    margin-top: 6rem;
  }

  .proj-p-left {
    order: 2;
    margin-top: 6rem;
  }

  .t-lane-tooltip .t-lane-tooltip-text {
    left: 80%;
    bottom: -30%;
  }

  .t-lane-tooltip .t-lane-tooltip-text::after {
    left: 20%;
    bottom: 180%;
    border-color: transparent transparent #fff transparent;
  }

  .yoyo-king-tooltip .yoyo-king-tooltip-text {
    right: 50%;
    bottom: -15%;
  }

  .yoyo-king-tooltip .yoyo-king-tooltip-text::after {
    top: -135%;
    left: 80%;
    border-width: 25px;
    border-color: transparent transparent #fff transparent;
  }

  .coming-soon-left-tooltip .coming-soon-left-tooltip-text {
    left: 70%;
    bottom: -30%;
  }

  .coming-soon-left-tooltip .coming-soon-left-tooltip-text::after {
    top: -135%;
    right: 70%;
    border-width: 25px;
    border-color: transparent transparent #fff transparent;
  }

  .contact-section-title {
    margin-top: 2rem;
  }

  .p-languages-wrapper {
    order: 2;
  }

}

@media (max-width: 650px) {
  #tranquility-lane-pic {
    max-width: 300px;
  }

  .t-lane-tooltip .t-lane-tooltip-text {
    left: 60%;
  }

  #yoyo-kingdom-pic {
    max-height: 300px;
    max-width: 168px;
  }

  .yoyo-king-tooltip .yoyo-king-tooltip-text {
    right: 30%;
    bottom: -15%;
  }

  .yoyo-king-tooltip .yoyo-king-tooltip-text::after {
    top: -125%;
  }

  .coming-soon-left {
    width: 300px;
    height: 168px;
    font-size: 2em;
  }

  .coming-soon-left-tooltip .coming-soon-left-tooltip-text {
    left: 50%;
  }

  .coming-soon-left-tooltip .coming-soon-left-tooltip-text::after {
    top: -125%;
  }

}

@media (max-width: 500px) {
  .t-lane-tooltip .t-lane-tooltip-text {
    left: 30%;
  }

  .yoyo-king-tooltip .yoyo-king-tooltip-text {
    right: -10%;
  }

  .coming-soon-left-tooltip .coming-soon-left-tooltip-text {
    left: 35%;
  }

  .contact-text {
    font-size: 0.8em;
  }

  .arrow {
    width: 40px;
  }

  .contact-link {
    font-size: 0.8em;
    width: 60px;
  }

}

@media (max-width: 425px) {
  .contact-text {
    font-size: 0.6em;
  }

  .contact-link {
    font-size: 0.6em;
    width: 40px;
  }
}

@media (max-width: 350px) {
  #tranquility-lane-pic {
    max-width: 250px;
  }

  #yoyo-kingdom-pic {
    max-height: 250px;
    max-width: 140px;
  }

  .yoyo-king-tooltip .yoyo-king-tooltip-text {
    right: -20%;
  }

  .yoyo-king-tooltip .yoyo-king-tooltip-text::after {
    left: 60%;
  }

  .coming-soon-left {
    width: 250px;
    height: 140px;
    font-size: 1.5em;
  }

  .coming-soon-left-tooltip .coming-soon-left-tooltip-text {
    left: 25%;
  }

  .contact-text {
    font-size: 0.6em;
  }

  .arrow {
    width: 30px;
  }

  .contact-link {
    font-size: 0.6em;
    width: 40px;
  }

}
