body {
  background: linear-gradient(to right, #fff, #bfbfbf);
  position: relative;
}

.nav-link {
  text-align: center;
  background: #fff;
}

.nav-link:hover {
  font-size: 1.3em;
  font-weight: bold;
}

.active {
  text-decoration: underline;
}

#title {
  background: linear-gradient(to right, #b30000, #bfbfbf);
}

.home-text {
  color: #fff;
  text-shadow: 2px 2px #262626;
}

#skills {
  background: linear-gradient(to top, #fff, #bfbfbf);
  color: #262626;
}

#skills li {
  background: linear-gradient(to top right, #262626, #404040);
}

#languages {
  background-color: #262626;
  color: #fff;
}

#languages li {
  color: #595959;
  background: linear-gradient(to bottom right, #fff, #d9d9d9);
}

#projects {
  background-color: #b30000;
  color: #fff;
}

#projects li {
  color: #b30000;
  background: linear-gradient(to top left, #fff, #d9d9d9);
}

#contributions {
  background-color: #fff;
  color: #595959;
}

#contributions li {
  background: linear-gradient(to bottom left, #595959, #404040);
}

#p-skills {
  line-height: 1.7em;
  font-size: 1.5em;
  color: #595959;
}

#p-languages {
  line-height: 1.7em;
  font-size: 1.5em;
}

#p-projects {
  line-height: 1.7em;
  font-size: 1.5em;
}

#t-about {
  color: #595959;
}

#p-about {
  line-height: 1.7em;
  font-size: 1.3em;
  color: #595959;
}

#t-contact {
  color: #595959;
}

.contact {
  line-height: 1.7em;
  font-size: 1.5em;
  color: #595959;
  padding-top: 1em;
}

.modal-header {
  background: #b30000;
  color: #fff;
}

.modal-body {
  background: #d9d9d9;
}

.modal-footer {
  background: #262626;
}
