#home {
  color: #262626;
  text-align: center;
}

#about {
  color: #262626;
  text-align: center;
}

#contact {
  color: #262626;
  text-align: center;
}

#title {
  background: linear-gradient(to right, #b30000, #bfbfbf);
}

h1 {
  color: #fff;
}

h3 {
  color: #fff;
}

.active {
  font-size: 1.3em;
  font-weight: bold;
  background-color: #bfbfbf;
}
