#skills {
  background: linear-gradient(to top, #fff, #bfbfbf);
  color: #262626;
}

#skills li {
  background: linear-gradient(to top right, #262626, #404040);
}

#languages {
  background-color: #262626;
  color: #fff;
}

#languages li {
  color: #595959;
  background: linear-gradient(to bottom right, #fff, #d9d9d9);
}

#projects {
  background-color: #fff;
  color: #595959;
}

#projects li {
  background: linear-gradient(to bottom left, #595959, #404040);
}

#contributions {
  background-color: #b30000;
  color: white;
}

#contributions li {
  color: #595959;
  background: linear-gradient(to top left, #fff, #d9d9d9);
}
